// bower:scss
// endbower
@font-face {
  src: url('../fonts/Manroperegular.woff');
  font-family: "Manrope";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Manropemedium.woff');
  font-family: "Manrope";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Manropesemibold.woff');
  font-family: "Manrope";
  font-weight: 600;
}

@font-face {
  src: url('../fonts/Manropebold.woff');
  font-family: "Manrope";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Manropelight.woff');
  font-family: "Manrope";
  font-weight: 300;
}


body {
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.unclickable {
  opacity: 0.8 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.s-app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background: url('../images/bg.jpg') no-repeat center bottom;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
}

.s-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &__logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }

    img {
      display: inline-block;
      max-width: 100%;
    }

    &-text {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      margin: 0 0 0 44px;
      opacity: 0.9;
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.37;
      letter-spacing: -0.71px;
    }
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    color: #070707;
    font-size: 28px;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -1.05px;

    img {
      display: inline-block;
      margin-right: 18px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #347ab9;
      text-decoration: none;
    }
  }

  &__call {
    display: inline-block;
    margin: 2px 0 0 0;
    border-bottom: 2px solid #000000;
    color: #070707;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #347ab9;
      text-decoration: none;
    }
  }
}

.s-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &__number {
    display: inline-block;
    margin: 0 33px 0 0;
    color: #000000;
    font-size: 62px;
    font-weight: 500;
    line-height: 1.07;
    letter-spacing: -2.34px;
  }

  &__text {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -1.06px;
  }
}

.s-home {
  display: block;
  position: relative;
  width: 100%;

  &__big {
    display: block;
    max-width: 610px;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -1.89px;

    b,
    strong {
      color: #347ab9;
      font-weight: 600;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 38px 0;
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    font-weight: 600;
    letter-spacing: -1.06px;

    b,
    strong {
      color: #347ab9;
      font-weight: 600;
    }
  }

  &__line {
    display: block;
    width: 100%;
    max-width: 94px;
    height: 3px;
    margin: 0 0 45px 0;
    padding: 0;
    background-color: #070707;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 830px;
    padding-bottom: 25px;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 190px;
    margin-bottom: 30px;

    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
    }

    &-number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      margin-right: 10px;
      padding: 2px;
      border-radius: 999rem;
      border: 2px solid #347ab9;
      color: #347ab9;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    &-image {
      display: inline-block;
      width: 100%;
      max-width: 110px;
      height: 100px;
      object-fit: scale-down;
      object-position: center bottom;
    }

    &-title {
      display: block;
      margin: 18px 0 0 0;
      color: #000000;
      font-size: 21px;
      font-weight: 500;
      line-height: 1.21;
      letter-spacing: -1.06px;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 800px;
  }
}

.s-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 375px;
  min-height: 105px;
  padding: 10px 40px 10px 55px;
  border: 0;
  outline: 0;
  border-radius: 999rem;
  border-bottom: 6px solid #58a4e9;
  background-image: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
  text-align: left;

  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    border-color: transparent;
    color: #ffffff;
    text-decoration: none;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 0;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: -1.06px;
  }

  &__subtitle {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 4px 0 0 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: -0.76px;
  }

  &__column {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 230px;
  }

  &__arrow {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 999rem;
    object-fit: scale-down;
    object-position: center;
    box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.05)
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 123, 185, 0.5);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(52, 123, 185, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 123, 185, 0);
  }
}

.s-gifts {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 0 0 80px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    letter-spacing: -1.06px;

    b,
    strong {
      color: #347ab9;
      font-weight: 500;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 580px;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 260px;
    min-height: 210px;
    margin-bottom: 40px;
    padding: 14px 30px;
    border-radius: 30px;
    background-color: #f4f6f6;
    transition: all 0.2s ease-out;

    &_animation {
      animation: pulse 2s;
    }

    &_locked {
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 32px;
        height: 40px;
        top: 50%;
        left: 0;
        margin-left: -16px;
        margin-top: -20px;
        background: url('../images/gift_locked.png') no-repeat center;
        background-size: contain;
        z-index: 1;
      }

      .s-gifts__card-number {
        background: none;
        -webkit-text-fill-color: #eae9f1;
        text-fill-color: #eae9f1;
        color: #eae9f1;
      }

      .s-gifts__card-image {
        filter: grayscale(1);
      }

      .s-gifts__card-title {
        opacity: 0.5;
      }
    }

    &-row {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      margin-bottom: 12px;
    }

    &-number {
      display: inline-block;
      min-width: 55px;
      background-image: linear-gradient(to top, #2467a4 0%, #5ba7ec 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: #eae9f1;
      font-size: 107px;
      font-weight: 500;
      line-height: 0.8;
      letter-spacing: -5.03px;
      transition: all 0.2s ease-out;
    }

    &-image {
      display: block;
      position: absolute;
      width: 200px;
      height: 160px;
      bottom: 0;
      left: 60px;
      object-fit: scale-down;
      object-position: left bottom;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.28;
      letter-spacing: -1.06px;
      transition: all 0.2s ease-out;
    }
  }
}

.s-steps {
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.2s ease-out;
}

.s-step {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 1060px;
  transition: all 0.2s ease-out;

  &__header {
    display: block;
    position: relative;
    width: 100%;
  }

  &__footer {
    display: block;
    position: relative;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 380px;
    padding: 30px 0 10px 0;
    transition: all 0.2s ease-out;
  }

  &__progress {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 35px 0;
    padding: 8px;
    border-radius: 999rem;
    overflow: hidden;
    background-color: #eae9f1;
    color: #000000;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.95px;
    text-align: center;
    transition: all 0.2s ease-out;

    &-title {
      display: block;
      position: relative;
      margin: 0;
      text-align: center;
      z-index: 2;
      transition: all 0.2s ease-out;
    }

    &-back {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 999rem;
      background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
      z-index: 1;
      transition: all 0.2s ease-out;
    }
  }

  &__title {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -1.24px;
  }

  &__button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 435px;
    min-height: 105px;
    border: 0;
    outline: 0;
    padding: 10px 45px 10px 50px;
    border-radius: 999rem;
    border-bottom: 6px solid #58a4e9;
    background-image: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
    text-align: left;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }

    &-title {
      display: block;
      flex: 1 1 230px;
      margin: 0;
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      letter-spacing: -1.11px;
    }

    &-arrow {
      display: inline-block;
      width: 46px;
      height: 46px;
      border-radius: 999rem;
      object-fit: scale-down;
      object-position: center;
      box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.05)
    }
  }
}

.s-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.s-types__card-this {
        .s-types__card-title {
          background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
          color: #ffffff;
        }

        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 130px;
          left: 100%;
          width: 46px;
          height: 46px;
          margin-left: -23px;
          border-radius: 999rem;
          box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
          background: url('../images/icon_checked.png') no-repeat center;
          background-size: contain;
          z-index: 1;
        }
      }
    }

    &-this {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 245px;
      height: 350px;
      margin-bottom: 10px;
      border-radius: 30px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }

    &-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 84px;
      margin: 0;
      padding: 25px 10px;
      border-radius: 0 0 30px 30px;
      background: #ffffff;
      color: #000000;
      font-size: 27px;
      font-weight: 400;
      line-height: 0.93;
      letter-spacing: -1.47px;
      text-align: center;
    }
  }
}

.s-disks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.s-disks__card-this {
        background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);

        .s-disks__card-title {
          color: #ffffff;
        }

        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 130px;
          left: 100%;
          width: 46px;
          height: 46px;
          margin-top: -23px;
          margin-left: -23px;
          border-radius: 999rem;
          box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
          background: url('../images/icon_checked.png') no-repeat center;
          background-size: contain;
          z-index: 1;
        }
      }
    }

    &-this {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 335px;
      height: 275px;
      margin-bottom: 10px;
      padding: 20px 20px 40px 20px;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }

    &-image {
      display: block;
      width: 100%;
      max-width: 150px;
      height: 150px;
      object-fit: scale-down;
      object-position: center bottom;
    }

    &-title {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 25px 0 0 0;
      color: #000000;
      font-size: 27px;
      font-weight: 400;
      line-height: 0.93;
      letter-spacing: -1.47px;
      text-align: center;
    }
  }
}

.s-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.s-categories__card-this {
        background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
        color: #ffffff;

        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 50%;
          left: 100%;
          width: 46px;
          height: 46px;
          margin-left: -23px;
          margin-top: -23px;
          border-radius: 999rem;
          box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
          background: url('../images/icon_checked.png') no-repeat center;
          background-size: contain;
          z-index: 1;
        }
      }
    }

    &-this {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 500px;
      margin: 0 0 48px 0;
      padding: 35px 10px;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: -1.47px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.s-inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__input {
    display: block;
    position: relative;
    transition: all 0.2s ease-out;

    &-placeholder {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -13px;
      padding: 0 10px;
      color: #000000;
      font-size: 28px;
      font-weight: 400;
      line-height: 0.94;
      letter-spacing: -1.47px;
      text-align: center;
      pointer-events: none;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &_complete {
      input {
        padding: 35px 10px !important;
        background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%) !important;
        color: #ffffff !important;
      }

      .s-inputs__input-placeholder {
        display: none !important;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 100%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        border-radius: 999rem;
        box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
        background: url('../images/icon_checked.png') no-repeat center;
        background-size: contain;
        z-index: 1;
      }
    }

    input {
      display: block;
      width: 500px;
      padding: 50px 10px 20px 10px;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      outline: 0;
      background: #ffffff;
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: -1.47px;
      text-align: center;
      transition: all 0.2s ease-out;

      &:focus~.s-inputs__input-placeholder {
        top: 20px !important;
        margin: 0 !important;
        font-size: 18px !important;
      }
    }
  }
}

.s-final {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    line-height: 0.95;
    letter-spacing: -1.45px;

    b,
    strong {
      color: #347ab9;
      font-weight: 600;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.52;
    letter-spacing: -0.91px;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__input {
    display: block;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all 0.2s ease-out;

    &-placeholder {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -10px;
      padding: 0 10px;
      color: #000000;
      font-size: 21px;
      font-weight: 400;
      line-height: 0.94;
      letter-spacing: -1.47px;
      text-align: center;
      pointer-events: none;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &_complete {
      input {
        padding: 25px 10px !important;
        background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%) !important;
        color: #ffffff !important;
      }

      .s-final__input-placeholder {
        display: none !important;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 100%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        border-radius: 999rem;
        box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
        background: url('../images/icon_checked.png') no-repeat center;
        background-size: contain;
        z-index: 1;
      }
    }

    input {
      display: block;
      width: 410px;
      padding: 35px 10px 15px 10px;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      outline: 0;
      background: #ffffff;
      color: #000000;
      font-size: 21px;
      font-weight: 400;
      letter-spacing: -1.47px;
      text-align: center;
      transition: all 0.2s ease-out;

      &:focus~.s-final__input-placeholder {
        top: 20px !important;
        margin: 0 !important;
        font-size: 18px !important;
      }
    }
  }

  &__row {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0 10px 0;
  }

  &__check {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked~.s-final__check-title {
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          width: 46px;
          height: 46px;
          margin-top: -23px;
          border-radius: 999rem;
          box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.03);
          background: url('../images/icon_checked.png') no-repeat center !important;
          background-size: contain;
          z-index: 1;
        }
      }
    }

    &-title {
      display: inline-block;
      position: relative;
      width: 190px;
      margin: 0 0 10px 0;
      padding: 0 0 0 60px;
      border-radius: 30px;
      color: #000000;
      font-size: 21px;
      font-weight: 400;
      letter-spacing: -1.47px;
      text-align: left;

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 46px;
        height: 46px;
        margin-top: -23px;
        border-radius: 999rem;
        box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.03);
        background: url('../images/icon_check.png') no-repeat center;
        background-size: contain;
        z-index: 1;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.s-thanks {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 44px;
    font-weight: 600;
    line-height: 0.95;
    letter-spacing: -1.45px;
    text-align: center;

    b,
    strong {
      color: #347ab9;
      font-weight: 600;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 120px 0;
    color: #000000;
    font-size: 29px;
    font-weight: 400;
    letter-spacing: -0.86px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1235px;
    margin: 0 auto;
  }
}

.s-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 100%;
    top: 0;
    margin-left: -65px;
    margin-top: -30px;
    border-radius: 999rem;
    background: #fafafa;
    z-index: 1;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 10px 0;
    padding: 75px 90px 0 90px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: -2.94px;
    text-align: center;

    b,
    strong {
      color: #347ab9;
      font-weight: 500;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 445px;
    margin-top: 50px;
    margin-bottom: -35px;
    border: 0;
    outline: 0;
    padding: 22px 80px 22px 90px;
    border-radius: 999rem;
    border-bottom: 6px solid #58a4e9;
    background-image: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
    text-align: left;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }

    &-title {
      display: block;
      flex: 1 1 210px;
      margin: 0;
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      letter-spacing: -1.11px;
    }

    &-arrow {
      display: inline-block;
      width: 46px;
      height: 46px;
      border-radius: 999rem;
      object-fit: scale-down;
      object-position: center;
      box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.05)
    }
  }

  &__input {
    display: block;
    position: relative;
    transition: all 0.2s ease-out;

    &-placeholder {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -13px;
      padding: 0 10px;
      color: #000000;
      font-size: 28px;
      font-weight: 400;
      line-height: 0.94;
      letter-spacing: -1.47px;
      text-align: center;
      pointer-events: none;
      z-index: 1;
      transition: all 0.2s ease-out;
    }

    &_complete {
      input {
        padding: 28px 10px !important;
        background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%) !important;
        color: #ffffff !important;
      }

      .s-modal__input-placeholder {
        display: none !important;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 100%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        margin-top: -23px;
        border-radius: 999rem;
        box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.09);
        background: url('../images/icon_checked.png') no-repeat center;
        background-size: contain;
        z-index: 1;
      }
    }

    input {
      display: block;
      width: 460px;
      padding: 45px 10px 10px 10px;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      outline: 0;
      background: #f4f6f6;
      color: #000000;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: -1.47px;
      text-align: center;
      transition: all 0.2s ease-out;

      &:focus~.s-modal__input-placeholder {
        top: 20px !important;
        margin: 0 !important;
        font-size: 18px !important;
      }
    }
  }
}

.s-loading {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #000000;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -1.45px;
    text-align: center;

    b,
    strong {
      color: #347ab9;
      font-weight: 600;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 90px 0;
    color: #000000;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: -1.07px;
    text-align: center;
  }

  &__progress {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 18px;
    border-radius: 999rem;
    overflow: hidden;
    background-color: #eae9f1;
    color: #000000;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: -0.95px;
    text-align: center;
    transition: all 0.2s ease-out;

    &-title {
      display: block;
      position: relative;
      margin: 0;
      text-align: center;
      z-index: 2;
      transition: all 0.2s ease-out;
    }

    &-back {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 999rem;
      background: linear-gradient(to right, #2467a4 0%, #5ba7ec 100%);
      z-index: 1;
      transition: all 0.2s ease-out;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1760px;
  }
}

@media (max-width: 1600px) {
  .s-home__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1;
  }

  .s-home__line {
    margin-bottom: 10px;
  }

  .s-home__subtitle {
    margin-bottom: 10px;
  }

  .s-gifts__title {
    margin-bottom: 20px;
  }

  .s-types__card-this {
    width: 280px;
    height: 200px;
  }

  .s-gifts__card {
    margin-bottom: 10px;
  }

  .s-categories__card-this {
    margin-bottom: 10px;
  }

  .s-categories__card-this {
    width: 425px;
  }

  .s-inputs__input input {
    margin-bottom: 10px;
  }

  .s-step__content {
    min-height: 300px;
  }

  .s-final__subtitle {
    margin-bottom: 20px;
  }

  .s-final__input {
    margin: 0 5px 10px 5px;
  }

  .s-disks__card-this {
    width: 275px;
  }

  .s-home__card {
    width: 25%;
  }

  .s-home__big {
    max-width: 440px;
  }

  .s-gifts__card {
    width: 50%;
    max-width: 205px;
  }

  .s-gifts__card-image {
    width: 150px;
    height: 130px;
    z-index: 1;
  }

  .s-step__button {
    min-height: auto;
  }

  .s-button {
    min-height: auto;
  }

  .s-home__cards {
    padding: 0;
  }

  .s-home__big {
    width: 100%;
    height: 430px;
    object-fit: scale-down;
    object-position: right center;
  }

  .s-footer__number {
    font-size: 46px;
  }

  .s-footer__text {
    font-size: 19px;
  }
}

@media (max-width: 1199px) {
  .s-home__big {
    max-width: 100%;
    margin: 5px auto;
  }

  .s-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0 20px 0;
  }

  .s-header__logo {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .s-header__logo-text {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
  }

  .s-header__column {
    align-items: center;
    text-align: center;
  }

  .s-home__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
  }

  .s-home__line {
    margin: 0 auto 20px auto;
  }

  .s-home__subtitle {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }

  .s-home__cards {
    justify-content: space-around;
    padding-bottom: 5px;
  }

  .s-home__card {
    text-align: center;
  }

  .s-button {
    margin-bottom: 5px;
  }

  .s-footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 5px 0;
    text-align: center;
  }

  .s-footer__number {
    margin: 0;
    font-size: 46px;
  }

  .s-step__progress {
    margin-bottom: 10px;
  }

  .s-step__title {
    text-align: center;
    font-size: 24px;
  }

  .s-types {
    justify-content: space-around;
  }

  .s-types__card-this {
    height: 230px;
  }

  .s-types__card-title {
    min-height: auto;
    padding: 10px;
  }

  .s-gifts__title {
    margin: 20px 0 10px 0;
    text-align: center;
  }

  .s-gifts__cards {
    justify-content: space-around;
  }

  .s-gifts__card {
    margin-bottom: 20px;
  }

  .s-categories__card {
    width: 100%;
  }

  .s-categories__card-this {
    width: 100%;
    margin-bottom: 5px;
    padding: 12px 20px;
    font-size: 22px;
  }

  .s-categories {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .s-step__button {
    min-height: auto;
    padding: 10px 20px;
  }

  .s-step__button-title {
    font-size: 18px;
  }

  .s-step__content {
    min-height: auto;
  }

  .s-disks__card-this {
    width: 240px;
    height: auto;
    padding: 20px;
  }

  .s-disks {
    justify-content: space-around;
  }

  .s-inputs__input input {
    padding: 10px 20px;
  }

  .s-inputs {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .s-inputs__input {
    width: 100%;
  }

  .s-inputs__input input {
    width: 100%;
    font-size: 20px;

    input {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .s-inputs__input-placeholder {
    margin-top: -8px;
    font-size: 17px;
  }

  .s-inputs__input input:focus~.s-inputs__input-placeholder {
    display: none;
    top: 10px !important;
    font-size: 12px !important;
  }

  .s-inputs__input_complete input {
    padding: 10px !important;
  }

  .s-inputs__input_complete:after {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -30px;
  }

  .s-categories__card input:checked~.s-categories__card-this:after {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -30px;
  }

  .s-final__input {
    width: 100%;
    margin: 0;
  }

  .s-final__input input {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 20px;

    input {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .s-final__input-placeholder {
    margin-top: -8px;
    font-size: 17px;
  }

  .s-final__input input:focus~.s-final__input-placeholder {
    display: none;
    top: 10px !important;
    font-size: 12px !important;
  }

  .s-final__input_complete input {
    padding: 10px !important;
  }

  .s-final__input_complete:after {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -30px;
  }

  .s-final__title {
    text-align: center;
  }

  .s-final__subtitle {
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center;
  }

  .s-final__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .s-final__check input:checked~.s-final__check-title:after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

  .s-final__check input~.s-final__check-title:after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

  .s-final__check-title {
    padding-left: 40px;
  }

  .s-modal__input {
    width: 100%;
  }

  .s-modal__input input {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
  }

  .s-modal__input-placeholder {
    margin-top: -8px;
    font-size: 17px;
  }

  .s-modal__input input:focus~.s-modal__input-placeholder {
    display: none;
    top: 10px !important;
    font-size: 12px !important;
  }

  .s-modal__input_complete input {
    padding: 10px !important;
  }

  .s-modal__input_complete:after {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -30px;
  }

  .s-thanks__title {
    font-size: 32px;
  }

  .s-thanks__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .s-thanks__cards {
    justify-content: space-around;
    margin: 0 auto;
  }

  .s-step__button {
    display: flex;
    margin: 0 auto;
  }

  .s-modal__content {
    padding: 40px 15px 20px 15px;
  }

  .s-modal__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .s-modal__button {
    margin: 0;
  }

  .s-modal__button {
    width: 100%;
    padding: 10px 20px;
  }

  .s-modal__close {
    width: 46px;
    height: 46px;
    margin: 0;
    top: 0;
    left: auto;
    right: 0;
    margin-top: -20px;
    padding: 10px;
    box-shadow: 0 4px 24px 14px rgba(0, 0, 0, 0.05);
  }

  .s-home__card {
    max-width: 165px;
  }

  .s-types__card-this {
    width: 160px;
    height: 200px;
  }

  .s-types__card input:checked~.s-types__card-this:after {
    top: 15px;
    left: auto;
    right: 15px;
  }

  .s-types__card-title {
    font-size: 20px;
  }

  .s-disks__card-image {
    max-width: 100px;
    height: 100px;
  }

  .s-disks__card-this {
    width: 145px;
  }

  .s-disks__card input:checked~.s-disks__card-this:after {
    top: 30px;
    left: 30px;
  }

  .s-loading__title {
    font-size: 32px;
  }

  .s-loading__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .s-loading__progress {
    padding: 12px;
    font-size: 24px;
  }

  .s-gifts__card {
    max-width: 160px;
  }

  .s-gifts__card-image {
    width: 70px;
    height: 80px;
    bottom: 10px;
    z-index: 1;
  }

  .s-gifts__card-title {
    font-size: 14px;
  }

  .s-gifts__card {
    justify-content: flex-start;
  }

  .s-home__card {
    width: 50%;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
